/*
Colors:
blue: 113F75
yellow: F4E04D
for the buttons:  font-family: "Madimi One", serif;
for long-blurbs:   font-family: "KoHo", serif;
for titles above blurbs:   font-family: "Kaisei Decol", serif;
big titles/navbar:  font-family: "Fira Sans Condensed", serif;
*/

/* navbar css */

.navbar {
    background-color: #113F75;
}

.nav-link {
    color: white;
    font-family: "Fira Sans Condensed", serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin: 0 30px;
}

.nav-link:hover {
    color: #F4E04D;
}

.nav-link:active {
    color: white !important;
}

.active {
    color: #F4E04D !important;
    text-decoration: underline;
}

/*hamburger menu css*/

.navbar-toggler {
    width: 40px;
    height: 30px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    top: 10px;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

.navbar-toggler .top-bar {
    margin-top: 0px;
    transform: rotate(135deg);
}

.navbar-toggler .middle-bar {
    opacity: 0;
    filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
    margin-top: 0px;
    transform: rotate(-135deg);
}

.navbar-toggler.collapsed .top-bar {
    margin-top: -15px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    margin-top: 15px;
    transform: rotate(0deg);
}

.container {
    padding: 20px;
}

/* index header css */

.index-header {
    width: clamp(600px, 70vw, 900px);
    height: 600px;
    background: url(https://picsum.photos/600/700);
}

.header {
    width: 400px;
    height: 300px;
    background: #113F75;
    padding: 20px;
}

.header-title {
    color: white;
    font-family: "Kaisei Decol", serif;
    font-size: clamp(35px, 1.5vw, 45px);
}

/* info css */

.info-row {
    margin: 300px 0;
}

.what-image {
    height: 600px;
    width: clamp(600px, 70vw, 900px);
    background: url(https://picsum.photos/600/700);
    z-index: 1;
}

.what-text {
    height: clamp(400px, 30vw, 500px);
    width: clamp(350px, 45vw, 500px);
    background: #113F75;
    border: #F4E04D 5px solid;
    border-radius: 6px;
    z-index: 2;
    margin: -100px;
    box-shadow: black 0px 2px 4px 0px, rgb(64, 64, 64) 0px 2px 16px 0px;
}

.offer-image {
    height: 600px;
    width: clamp(600px, 70vw, 900px);
    background: url(https://picsum.photos/600/700);
    z-index: 1;
}

.offer-text {
    height: clamp(400px, 30vw, 500px);
    width: clamp(350px, 45vw, 500px);
    background: #113F75;
    border: #F4E04D 5px solid;
    border-radius: 6px;
    z-index: 2;
    margin: -100px;
    box-shadow: black 0px 2px 4px 0px, rgb(64, 64, 64) 0px 2px 16px 0px;
}

.staff-image {
    height: 600px;
    width: clamp(600px, 70vw, 900px);
    background: url(https://picsum.photos/600/700);
    z-index: 1;
}

.staff-text {
    height: clamp(400px, 30vw, 500px);
    width: clamp(350px, 45vw, 500px);
    background: #113F75;
    border: #F4E04D 5px solid;
    border-radius: 6px;
    z-index: 2;
    margin: -100px;
    box-shadow: black 0px 2px 4px 0px, rgb(64, 64, 64) 0px 2px 16px 0px;
}

.info-title {
    color: white;
    font-family: "Kaisei Decol", serif;
    font-size: clamp(30px, 3vw, 75px);
    margin-bottom: 20px;
}

.info-section {
    background: white;
    margin: 15px;
    padding: 10px;
    font-size: clamp(15px, 1.3vw, 50px);
    font-family: "KoHo", serif;
}

/* staff page css */

.blue {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border: #113F75 5px solid;
    margin: 20px;
}

.yellow {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border: #F4E04D 5px solid;
    margin: 20px;
}

.mr-d {
    background: url(teacher-imgs/mr-dellapietro.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border: #113F75 5px solid;
    margin: 20px;
}

.mr-k {
    background: url(teacher-imgs/mr-kilgore.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border: #F4E04D 5px solid;
    margin: 20px;
}

.mrs-l {
    background: url(teacher-imgs/mrs-leonard.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border: #113F75 5px solid;
    margin: 20px;
}

.mrs-ra {
    background: url(teacher-imgs/mrs-ransom.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border: #F4E04D 5px solid;
    margin: 20px;
}

.mrs-ru {
    background: url(teacher-imgs/mrs-russo.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border: #113F75 5px solid;
    margin: 20px;
}

.mr-w {
    background: url(teacher-imgs/mr-werntz.JPG);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border: #F4E04D 5px solid;
    margin: 20px;
}

.mrs-a {
    background: black;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    border-radius: 100%;
    width: 300px;
    height: 300px;
    border: #113F75 5px solid;
    margin: 20px;
}


/* btn css */

.btn {
    background-color: #F4E04D;
    font-family: "Madimi One", serif;
    color: #113F75;
    margin: 0 auto;
    text-decoration: none;
}

.btn:hover {
    background: #ffe520;
    color: #113F75;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 black;
}

.btn:active {
    background: #ffe520 !important;
    color: #113F75;
    box-shadow: none;
    border: none;
}

/* back to top css*/

#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #113F75;
    color: white;
    border: 3px #F4E04D solid;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
    font-family: "Madimi One", serif;
    transition: all 0.3s;
}

#myBtn:hover {
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0), 0 6px 20px 0 black;
}

#myBtn:active {
    transition: 0.3s;
    box-shadow: none;
}

/* footer css */

footer {
    background-color: #113F75;
    color: #fff;
    margin-top: 75px;
}

.footer-text {
    font-size: 18px;
    font-family: "Kaisei Decol", serif;
    font-weight: 100 !important;
}

.footer-tech-ed {
    font-family: "Fira Sans Condensed", serif;
    font-weight: 900;
    margin: 0;
    font-size: clamp(40px, 4vw, 150px);
}



.place,
.email,
.phone {
    font-size: clamp(20px, 2vw, 150px);
}

.link {
    color: #F4E04D !important;
    font-family: "Fira Sans Condensed", serif;
    transition: 0.2s;
    font-size: clamp(15px, 1.5vw, 100px);
}

.link:hover {
    color: #b3a11e !important;
    transition: 0.2s;
}

.footer-image {
    width: 150px;
    height: 150px;
}
/* media for different screen sizes */

/* medium width */

@media (min-width: 768px) {
    .mrs-l {
        border: #F4E04D 5px solid !important;
    }
    .mrs-ra {
        border: #113F75 5px solid !important;
    }
}

/* large width */

@media (min-width: 992px) {
    .what-image {
        width: clamp(300px, 50vw, 800px) !important;
        position: relative;
        left: 50px;
    }

    .what-text {
        width: clamp(350px, 30vw, 500px) !important;
        height: clamp(400px, 30vw, 500px) !important;
        position: relative;
        left: 50px;
    }

    .offer-image {
        width: clamp(300px, 50vw, 800px) !important;
        position: relative;
        right: 50px;
    }

    .offer-text {
        width: clamp(350px, 30vw, 500px) !important;
        height: clamp(400px, 30vw, 500px) !important;
        position: relative;
        right: 50px;
    }

    .staff-image {
        width: clamp(300px, 50vw, 800px) !important;
        position: relative;
        left: 50px;
    }

    .staff-text {
        width: clamp(350px, 30vw, 500px) !important;
        height: clamp(400px, 30vw, 500px) !important;
        position: relative;
        left: 50px;
    }

    .info-section {
        font-size: clamp(15px, 1.2vw, 20px) !important;
    }

    .footer-image {
        width: 350px !important;
        height: 350px !important;
    }

    
}

/* contact page large width */

@media (min-width: 1200px) {
    .mrs-l {
        border: #113F75 5px solid !important;
    }
    .mrs-ra {
        border: #F4E04D 5px solid !important;
    }
}