/*
Colors:
blue: 113F75
yellow: F4E04D
for the buttons:  font-family: "Madimi One", serif;
for long-blurbs:   font-family: "KoHo", serif;
for titles above blurbs:   font-family: "Kaisei Decol", serif;
big titles/navbar:  font-family: "Fira Sans Condensed", serif;
*/

.navcolor {
    background-color: #113F75;
}

.nav-link {
    color: white;
    font-family: "Fira Sans Condensed", serif;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin: 0 30px;
}

.nav-link:hover {
    color: #F4E04D;

}

.active {
    color: #F4E04D !important;
    text-decoration: underline;
}

.container {
    padding: 20px;
}

.row {
    margin: 300px 0;
}

@media (min-width: 992px) {
    .what-image {
        width: clamp(300px, 50vw, 800px) !important;
        position: relative;
        left: 50px;
    }

    .what-text {
        width: clamp(300px, 30vw, 500px) !important;
        height: clamp(400px, 30vw, 500px) !important;
        position: relative;
        left: 50px;
    }

    .offer-image {
        width: clamp(300px, 50vw, 800px) !important;
        position: relative;
        right: 50px;
    }

    .offer-text {
        width: clamp(300px, 30vw, 500px) !important;
        height: clamp(400px, 30vw, 500px) !important;
        position: relative;
        right: 50px;
    }

    .staff-image {
        width: clamp(300px, 50vw, 800px) !important;
        position: relative;
        left: 50px;
    }

    .staff-text {
        width: clamp(300px, 30vw, 500px) !important;
        height: clamp(400px, 30vw, 500px) !important;
        position: relative;
        left: 50px;
    }

    .info-section {
        font-size: clamp(15px, 1.2vw,20px) !important;
    }
}

.what-image {
    height: 600px;
    width: clamp(600px, 70vw, 900px);
    background: url(https://picsum.photos/600/700);
    z-index: 1;
}

.what-text {
    height: clamp(400px, 30vw, 500px);
    width: clamp(350px, 45vw, 500px);
    background: #113F75;
    border: #F4E04D 5px solid;
    border-radius: 6px;
    z-index: 2;
    margin: -100px;
    box-shadow: black 0px 2px 4px 0px, rgb(64, 64, 64) 0px 2px 16px 0px;
}

.offer-image {
    height: 600px;
    width: clamp(600px, 70vw, 900px);
    background: url(https://picsum.photos/600/700);
    z-index: 1;
}

.offer-text {
    height: clamp(400px, 30vw, 500px);
    width: clamp(350px, 45vw, 500px);
    background: #113F75;
    border: #F4E04D 5px solid;
    border-radius: 6px;
    z-index: 2;
    margin: -100px;
    box-shadow: black 0px 2px 4px 0px, rgb(64, 64, 64) 0px 2px 16px 0px;
}

.staff-image {
    height: 600px;
    width: clamp(600px, 70vw, 900px);
    background: url(https://picsum.photos/600/700);
    z-index: 1;
}

.staff-text {
    height: clamp(400px, 30vw, 500px);
    width: clamp(350px, 45vw, 500px);
    background: #113F75;
    border: #F4E04D 5px solid;
    border-radius: 6px;
    z-index: 2;
    margin: -100px;
    box-shadow: black 0px 2px 4px 0px, rgb(64, 64, 64) 0px 2px 16px 0px;
}

.info-title {
    color: white;
    margin-top: 30px;
    font-family: "Kaisei Decol", serif;
    font-size: clamp(30px, 3vw, 75px);
}

.info-section {
    background: white;
    margin: 15px;
    padding:10px;
    font-size: clamp(15px, 1.3vw,50px);
    font-family: "KoHo", serif;
}
.btn{
    background-color: #F4E04D;
    font-family: "Madimi One", serif;
    color:#113F75;
    margin: 0 auto;
}

.btn:hover {
    background: #ffe520;
    color: #113F75;
    box-shadow: black 7px 7px;
}

.btn:active {
    background: #ffe520 !important;
    color: #113F75;
    box-shadow: none;
}